<h2 class="h2 text-left">Account Settings</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "space-y-6" }) do |f| %>
  <div>
    <%= f.label :email, class: "input-label" %>
    <%= f.email_field :email, disabled: true, class: "input-text" %>
  </div>
  <div>
    <%= f.label :current_password, class: "input-label" %>
    <%= f.password_field :current_password, autocomplete: "current-password", class: "input-text" %>
  </div>
  <div>
    <%= f.label :password, "New Password", class: "input-label" %>
    <%= f.password_field :password, autocomplete: "new-password", class: "input-text" %>
  </div>
  <div>
    <%= f.label :password_confirmation, "Confirm New Password", class: "input-label" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input-text" %>
  </div>


  <div>
    <%= f.submit "Save", class: "btn btn-primary h-12 w-32" %>
  </div>
<% end %>

<div class="mt-4"><%= link_to "Delete my account", registration_path(resource_name), class: "link", data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>
