<div class="flex flex-col justify-center min-h-full gap-2 px-6 py-12 lg:px-8">
  <div class="mx-auto w-full max-w-small flex flex-col gap-6">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="fill-teal-500 mx-auto h-12 w-auto" viewBox="0 0 16 16">
      <path d="M8 0a.5.5 0 0 1 .429.243c1.359 2.265 2.925 3.682 4.25 4.882.096.086.19.17.282.255C14.308 6.604 15.5 7.747 15.5 9.5a4 4 0 0 1-5.406 3.746c.235.39.491.782.722 1.131.434.659-.01 1.623-.856 1.623H6.04c-.845 0-1.29-.964-.856-1.623.263-.397.51-.777.728-1.134A4 4 0 0 1 .5 9.5c0-1.753 1.192-2.896 2.539-4.12l.281-.255c1.326-1.2 2.892-2.617 4.251-4.882A.5.5 0 0 1 8 0zM3.711 6.12C2.308 7.396 1.5 8.253 1.5 9.5a3 3 0 0 0 5.275 1.956.5.5 0 0 1 .868.43c-.094.438-.33.932-.611 1.428a29.247 29.247 0 0 1-1.013 1.614.03.03 0 0 0-.005.018.074.074 0 0 0 .024.054h3.924a.074.074 0 0 0 .024-.054.03.03 0 0 0-.005-.018c-.3-.455-.658-1.005-.96-1.535-.294-.514-.57-1.064-.664-1.507a.5.5 0 0 1 .868-.43A3 3 0 0 0 14.5 9.5c0-1.247-.808-2.104-2.211-3.38L12 5.86c-1.196-1.084-2.668-2.416-4-4.424-1.332 2.008-2.804 3.34-4 4.422l-.289.261z"/>
    </svg>
    <h2 class="font-quicksand font-bold text-3xl text-center text-grey-900">Sign Up</h2>
  </div>
  <div class="mt-8 mx-auto w-full max-w-sm">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'space-y-6' }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div>
        <%= f.label :email, class: 'block text-sm font-medium leading-6 text-gray-900' %>
        <div class="mt-2">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'block w-full h-12 rounded-sm border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-500 sm:text-sm sm:leading-6' %>
        </div>
      </div>

      <div class="flex justify-between gap-4">
        <div class="w-full">
          <%= f.label :first_name, class: 'block text-sm font-medium leading-6 text-gray-900' %>
          <div class="mt-2">
            <%= f.text_field :first_name, autocomplete: "first-name", class: 'block w-full h-12 rounded-sm border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-500 sm:text-sm sm:leading-6' %>
          </div>
        </div>

        <div class="w-full">
          <%= f.label :last_name, class: 'block text-sm font-medium leading-6 text-gray-900' %>
          <div class="mt-2">
            <%= f.text_field :last_name, autocomplete: "last-name", class: 'block w-full h-12 rounded-sm border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-500 sm:text-sm sm:leading-6' %>
          </div>
        </div>
      </div>

      <div>
        <%= f.label :password, class: 'block text-sm font-medium leading-6 text-gray-900' %>
        <div class="mt-2">
          <%= f.password_field :password, autocomplete: "new-password", class: 'block w-full h-12 rounded-sm border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-500 sm:text-sm sm:leading-6' %>
        </div>
      </div>

      <div>
        <%= f.label :password_confirmation, class: 'block text-sm font-medium leading-6 text-gray-900' %>
        <div class="mt-2">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'block w-full h-12 rounded-sm border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-500 sm:text-sm sm:leading-6' %>
        </div>
      </div>

      <div>
        <%= f.submit "Sign up", class: 'h-12 flex w-full justify-center rounded-sm px-3 py-1.5 text-sm text-gray-900 font-semibold leading-6 bg-gradient-to-r from-emerald-500 to-teal-500 hover:from-emerald-300 hover:to-teal-300 hover:cursor-pointer focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-300' %>
      </div>
    <% end %>
    <div class="flex justify-center gap-2 mt-6">
      <p class="text-sm text-gray-900">Already have an account?</p>
      <%= link_to 'Log in', new_user_session_path, class: 'text-sm font-bold text-teal-500 underline' %>
    </div>
  </div>
</div>
