<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Poker Night</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>
<body class="min-h-screen bg-slate-50">
<%= render Navbar::Component.new %>
<main>
  <div class="container mx-auto max-w-screen-xl px-8 md:px-0 md:max-w-3xl">
    <%= yield %>
  </div>
  <!-- Global notification live region, render this permanently at the end of the document -->
  <div aria-live="assertive" class="pointer-events-none fixed inset-0 flex items-end px-4 py-6">
    <div class="flex w-full flex-col items-center space-y-4">
      <% flash.each do |_, message| %>
        <%= render Notification::Component.new do %>
          <%= message %>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= turbo_frame_tag "modal" %>
</main>
</body>
</html>
