<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Poker Night</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body class="min-h-screen bg-slate-50">
<%= render "shared/navbar" %>
<main class="container mx-auto max-w-screen-xl min-h-screen px-8 md:px-0 md:max-w-3xl">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= turbo_frame_tag "modal" %>
  <%= yield %>
</main>
</body>
</html>
